<% layout('layouts/boilerplate') -%>
  <style>
    #cluster-map {
      width: auto;
      height: 500px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .light{
      color: 'black'
    }

    .dark{
      color: 'white'
    }

  </style>


  <% if(campgrounds.length> 0) {%>
    <center>

      <div id="cluster-map"></div>

    </center><br>


    <form action="/campgrounds/search">
      <label for="search">
        <h4 class="fs-5">
          Search any campground</h4>
      </label>
      <input type="text" name="searchTerm" id="search" class="form-control">
      <button class="btn btn-success btn-sm p-2 mt-1">Search</button>
    </form>

    <br>
    <h2 class="fs-3">All Campgrounds</h2>
    <br>
    <% for (let campground of campgrounds) { %>
      <div class="card mb-3" id="card">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img src="<%= campground.images[0].url %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 d-flex">
            <div class="card-body d-flex flex-column p-2">
              <div class="p-3">
                <h5 class="card-title"> <a href="https://www.google.com/search?q=<%= campground.title %>"
                    style="text-decoration: none;">
                    <%= campground.title %>
                  </a></h5>
                <p class="card-text">
                  <%= campground.description %>
                </p>

                <% if(campground.recommendedPlaces.length> 0) {%>
                  <h4 class="fs-5 ">Places to Visit in <%= campground.title %>
                  </h4>
                  <ul class="list-group">
                    <% for(let place of campground.recommendedPlaces) {%>
                      <li class="list-group-item">
                        <%= place %>
                      </li>
                      <% } %>
                  </ul>
                  <% } %>

                    <a class="btn btn-primary mt-3" href="campgrounds/<%= campground.id %>">View <%= campground.title %>
                    </a>
                    <% if(currentUser) {%>
                      <button class="btn shadow-none ms-3 mt-3 d-none light" id="unlikeButton"
                        style="border: 0px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                          class="bi bi-heart-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" id="heartsvg"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                        </svg> &nbsp; <span class="totalLikesForLikes">
                          <%= campground.likes.totalLikes %>
                        </span></button>
                      <button class="btn shadow-none ms-3 mt-3 d-none light" id="heartButton"
                        style="border: 0px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                          class="bi bi-heart" viewBox="0 0 16 16">
                          <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                        </svg>&nbsp; <span class="totalLikesForUnlikes">
                          <%= campground.likes.totalLikes %>
                        </span></button>
                      <% } %>

              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
        <% } else { %>
          <style>
            .playfair-display-playfairFont {
              font-family: "Playfair Display", serif;
              font-optical-sizing: auto;
              font-weight: 600;
              font-style: normal;
            }

            .open-sans-opensansFont {
              font-family: "Open Sans", sans-serif;
              font-optical-sizing: auto;
              font-weight: 600;
              font-style: normal;
              font-variation-settings:
                "wdth" 100;
            }

            #notfound {
              width: 100%;
              height: auto;


            }
          </style>

          <div class="container">
            <center>
              <h3 class="playfair-display-playfairFont">No Campground Datas Available </h3>
            </center>
            <img src="https://static-00.iconduck.com/assets.00/404-page-not-found-illustration-2048x998-yjzeuy4v.png"
              alt="" id="notfound">
          </div>

          <% } %>


            <script>
              const campgrounds = { features: <%- JSON.stringify(campgrounds) %> }
              const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
            </script>

<% if(campgrounds.length > 0) {%>
  <script src="/javascripts/clusterMaps.js"></script>

  <% } %>
            <% if(currentUser) {%>
              <script src="/socket.io/socket.io.js"></script>

              <script>
                const socket = io();
                const user = '<%= currentUser.id %>';
                const campgroundsForMaps =  <%- JSON.stringify(campgrounds) %>
              </script>
              
              <script src="/javascripts/likefeature.js"></script>
              <% } %>
