<% layout('layouts/boilerplate') -%>
    <style>
    #map {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  animation: rotate 30s linear infinite; /* Add this line */
}

@keyframes rotate {
  from {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
    </style>
  <center>
    <div id="map" class="shadow-lg"></div><br>
  </center>
    <h2>All campgrounds</h2>
    <br>

    <% for(let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">

                    <img class="img-fluid" src="<%= campground.images[0].url %>" alt="">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title mt-3">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text"><small class="text-muted">
                            <%= campground.location %>
                        </small>

                    </p>
                    <a class="btn btn-primary mb-3" href="campgrounds/<%=campground.id %>">View Location</a>

                </div>

            </div>
        </div>
        <% } %>
            <script>
//                 const sphereMap = document.getElementById("map");

// let rotation = 0;

// function rotateSphereMap() {
//     rotation += 0.5; // Adjust the value for desired rotation speed
//     sphereMap.style.transform = `rotateY(${rotation}deg)`;
//     window.requestAnimationFrame(rotateSphereMap);
// }

// rotateSphereMap();



                const locations = JSON.parse('<%= JSON.stringify(locations) %>');
                maptilersdk.config.apiKey = 'VFBv4l3uLTmbnkv0Hqd4';

                const map = new maptilersdk.Map({
                    container: 'map',
                    style: maptilersdk.MapStyle.STREETS.DARK,
                    center: [0, 0],
                    zoom: 10,
                    hash: true,
                });

                

                for (let location of locations) {
                    new maptilersdk.Marker()
                        .setLngLat(location)
                        .addTo(map);
                }



            </script>