<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-6 ">
            <div class="card mb-3">
                <img src="<%= campground.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title%>
                    </h5>
                    <p class="card-text">
                        Uploaded By:  <%= campground.author.username%>
                    </p>
                    <p class="card-text">
                        <%= campground.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location%>
                    </li>
                    <li class="list-group-item">$<%= campground.price%>/night</li>
                </ul>
                <% if( currentUser && campground.author.equals(currentUser._id)) {%>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                    <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger mx-2">Delete</button>
                    </form>
                </div>
                <% } %>
                <div class="card-footer text-muted">
                    3 days ago
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>
                Leave a Review
            </h2>
            <form action="/campgrounds/<%=campground.id %>/reviews" method="post" class="form-valid" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Review</label>
                    <input type="range" min="1" max="5" name="review[rating]" required class="form-range">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" required cols="30" rows="3"></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please give a title!
                    </div>
                    <button class="btn btn-success mt-3">Submit</button>
                </div>
            </form>
            <% for(let review of campground.reviews) { %>
                <div class="card mb-3">

                    <div class="card-body">
                        <h5 class="card-title mb-2 text-muted">
                           By <%= review.author.username %>
                        </h5>
                        <h6><b>Rating: </b>
                            <%= review.rating %>
                        </h6>
                        <p><b>Review: </b>
                            <%= review.body %>
                        </p>
                       <% if(currentUser && review.author.equals(currentUser.id)) {%>
                        <form action="/campgrounds/<%= campground.id %>/reviews/<%= review.id %>?_method=DELETE"
                            method="post">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>

                </div>
                <% } %>
        </div>
    </div>
    </div>